<!--    
                  ,--.  ,--.                    
  ,---. ,--,--.,-'  '-.|  ,---.  ,---.  ,---.  
  | .--'' ,-.  |'-.  .-'|  .-.  || .-. || .-. | 
  \ `--.\ '-'  |  |  |  |  | |  |' '-' '| '-' ' 
  `---' `--`--'  `--'  `--' `--' `---' |  |-'  
                                        `--'    
  cathop is open source
  you can find the entire source code on github, make sure to star the repository!
  https://github.com/sbeltranc/cathop
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "cathop" %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="an all-in-one tool for links without any ads, captchas and with a open API!">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
